/*   Conteudo Geral do site    */

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{

    background-image: url("imgs/paper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 100vh;
}

/*   Fim do conteudo geral    */


/* Parte superior do site    */
header
{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background: #111317;
    box-shadow: 0 5px 5px rgba(255, 255, 255, 0.123);
}

header h1 
{
    color: rgb(255, 255, 255);
}

header nav ul
{
    color: rgb(255, 255, 255);
}

nav li
{
    font-size: 1rem;
    display: inline-block;
    list-style-type: none;   
    margin: 0 2rem;
}

#imagem img
{
    width: 3rem; 
}


#nomePage h1 
{
    margin-right: 1rem;
    font-weight: bolder;
    font-size: 1.7rem;
} 

nav ul a
{
    display: inline-block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: transform 0.3s ease; 
}

nav ul a:hover
{
    transform: translateY(-7px); 
    color: rgb(255, 251, 0);
    font-weight: bolder;
}


/*  Fim da parte superior do site     */



/*  Rodapé do site   */
footer
{
    height: 13vh;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background: #111317;
}

.container
{
    padding: 5px 5px;
    display: flex;
    justify-content: space-between; 
    width: 90%;
    max-width: 1200px; 
}

.container .footer-Text
{
    color: white;
    width: 9rem;

}

.container p
{
    font-size: 1rem;
    text-align: center;
}


.container h2
{
    text-align: center;
    margin-bottom: 1rem;   
    color: rgb(255, 233, 32);
}


#logoImg img
{
    width: 1.9rem;
}

.container .footer-Text a
{
    display: inline-block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: transform 0.3s ease-out; 
}

.container .footer-Text a:hover
{
    transform: translateY(-1px);
    color: aqua;
    font-weight: bolder;
}

/* Fim do Rodapé do site   */



/* Modificações para outras telas  */
@media screen and (max-width: 617px) {
    header {
        justify-content: center; 
    }

    #imagem img {
        width: 3rem; 
    }

    #nomePage h1 
    {
        display: none; 
    } 

    nav {
        display: none; 
    }

    body{
        background-position: center;
    }

    .container .footer-Text p
    {
    font-size: 1.5vh;
    }

    .container .footer-Text h2
    {
    font-size: 1.8vh;
    }

}

@media screen and (max-width: 1058px) {
#logoImg
{
    display: none;
}
}
/* Fim das modificações para outras telas  */